{% extends 'julyapp/base.html'%}
{% load static %}
{% block content %}

        <!-- banner section -->
        <section class="banner-section" id="top-heading">
            <div class="heading" id="heading">
                <h4>
                    <span><img src="{% static 'julyapp/images/star.svg' %}" alt="" /></span> BEST MEDICAL
                    TREATMENT
                </h4>
                <h1>
                    Our team helps you get your <br />
                    life back on track.
                </h1>
            </div>
            <div class="banner-img">
                <img src="{% static 'julyapp/images/company.png' %}" alt="" />
                <div class="rotate">
                    <img src="{% static 'julyapp/images/bottom.svg' %}" alt="" />
                </div>
            </div>
        </section>

        <!-- Why choose us -->
        <section class="why-choose-us" id="why-choose-us">
            <div class="container">
                <div class="grid">
                    <div class="choose-1">
                        <div class="grid">
                            <div class="sub-choose-img">
                                <img src="{% static 'julyapp/images/timer.svg' %}" alt="" />
                            </div>
                            <div class="sub-choose-text">
                                <h1>24 hour service</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                            </div>
                        </div>
                    </div>
                    <div class="choose-2">
                        <div class="grid">
                            <div class="sub-choose-img">
                                <img src="{% static 'julyapp/images/timer.svg' %}" alt="" />
                            </div>
                            <div class="sub-choose-text">
                                <h1>8 years of experience</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                            </div>
                        </div>
                    </div>
                    <div class="choose-3">
                        <div class="grid">
                            <div class="sub-choose-img">
                                <img src="{% static 'julyapp/images/timer.svg' %}" alt="" />
                            </div>
                            <div class="sub-choose-text">
                                <h1>High quality care</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <img src="{% static 'julyapp/images/bottom.svg' %}" alt="" />
            </div>
        </section>

        <!-- Our story section -->
        <section class="about-section">
            <div class="container">
                <div class="grid">
                    <div class="about-text" id="about-text">
                        <h5>OUR STORY</h5>
                        <h1>
                            We’ve been in business <br />
                            since 2012.
                        </h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br />
                            sed do eiusmod tempor incididunt ut labore et dolore <br />
                            magna aliqua.
                        </p>
                        <p>
                            Ut enim ad minim veniam, quis nostrud exercitation <br />
                            ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                    <div class="about-img" id="about-img">
                        <div class="back"></div>
                        <img src="{% static 'julyapp/images/medicine.png' %}" alt="" />
                    </div>
                </div>
            </div>
        </section>

        <!-- Our mission section -->
        <section class="about-section">
            <div class="container">
                <div class="grid">
                    <div class="about-img">
                        <div class="back"></div>
                        <img src="{% static 'julyapp/images/surgery.png' %}" alt="" />
                    </div>
                    <div class="about-text">
                        <h5>OUR STORY</h5>
                        <h1>Our mission is to help patients live better.</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br />
                            sed do eiusmod tempor incididunt ut labore et dolore <br />
                            magna aliqua.
                        </p>
                        <p>
                            Ut enim ad minim veniam, quis nostrud exercitation <br />
                            ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>
            </div>
        </section>

       
{% endblock %}

       


