     {% extends 'julyapp/base.html'%}
      {% load static %}
       {% block content %}
 

      <!-- contact section -->
      <section class="contact-section" id="contact-section">
        <div class="container">
          <div class="heading">
            <h5>CONTACT US</h5>
            <h1>
              Get in touch to book your first <br />
              appointment
            </h1>
          </div>
          <div class="grid phone-container">
            <div class="phone">
              <div class="grid">
                <div class="sub-phone-img">
                  <i class="icon-phone"></i>
                </div>
                <div class="sub-phone-text">
                  <h5>PHONE</h5>
                  <p>(123) 456 -7890</p>
                </div>
              </div>
            </div>
            <div class="mail">
              <div class="grid">
                <div class="sub-mail-img">
                  <i class="icon-envelope"></i>
                </div>
                <div class="sub-mail-text">
                  <h5>MAIL</h5>
                  <p>hi@flowbase.co</p>
                </div>
              </div>
            </div>
          </div>
          <div class="contact-form phone-container">
            <form action="" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
          <p>{{form}}</p>
          <button>Submit</button>
      </form>
          </div>
        </div>
      </section>

      

     {% endblock %}