{% extends 'julyapp/base.html'%}
{% load static %}
{% block content %}
      <!-- services-->
      <section class="service-section">
        <div class="container">
          <div class="heading">
            <h5>Services</h5>
            <h1>
              Experienced in multiple <br />
              medical practices
            </h1>
          </div>
          <div class="service-container">
            <div class="service-1">
              <div class="other">
                <img src="{% static 'julyapp/images/teeth-star.svg' %}" alt="" />
              </div>
              <h5>Lorem ipsum dolor</h5>
              <p>
                Lorem ipsum dolor sit amet consectet piscing elit, sed do
                eiusmod.
              </p>
              <a href="#services-banner">Learn More</a>
            </div>
            <div class="service-2">
              <div class="other">
                <img src="{% static 'julyapp/images/teeth-pain.svg' %}" alt="" />
              </div>
              <h5>Lorem ipsum dolor</h5>
              <p>
                Lorem ipsum dolor sit amet consectet piscing elit, sed do
                eiusmod.
              </p>
              <a href="#services-banner">Learn More</a>
            </div>
            <div class="service-3">
              <div class="other">
                <img src="{% static 'julyapp/images/teeth-hand.svg' %}" alt="" />
              </div>
              <h5>Lorem ipsum dolor</h5>
              <p>
                Lorem ipsum dolor sit amet consectet piscing elit, sed do
                eiusmod.
              </p>
              <a href="#services-banner">Learn More</a>
            </div>
            <div class="service-4">
              <div class="other">
                <img src="{% static 'julyapp/images/teeth-star.svg' %}" alt="" />
              </div>
              <h5>Lorem ipsum dolor</h5>
              <p>
                Lorem ipsum dolor sit amet consectet piscing elit, sed do
                eiusmod.
              </p>
              <a href="#services-banner">Learn More</a>
            </div>
            <div class="service-5">
              <div class="other">
                <img src="{% static 'julyapp/images/teeth-pain.svg' %}" alt="" />
              </div>
              <h5>Lorem ipsum dolor</h5>
              <p>
                Lorem ipsum dolor sit amet consectet piscing elit, sed do
                eiusmod.
              </p>
              <a href="#services-banner">Learn More</a>
            </div>
            <div class="service-6">
              <div class="other">
                <img src="{% static 'julyapp/images/teeth-hand.svg' %}" alt="" />
              </div>
              <h5>Lorem ipsum dolor</h5>
              <p>
                Lorem ipsum dolor sit amet consectet piscing elit, sed do
                eiusmod.
              </p>
              <a href="#services-banner">Learn More</a>
            </div>
          </div>
        </div>
      </section>

     

      {% endblock %}

      